.title {
    color: white;
    font-size: 400%;
}

h1 {
    text-align: center;
    margin-left: 150px;
}

label {
    color: white;
    font-size: 150%;
    align-items: left;
}

body {
    background-color: black;
}

img {
    height: 600px;
    text-align: left;
}

.content {
    font-size: 10px;
}

.loginpage {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 5px;
}

.ask {
    color: white;
}

.signup {
    color: yellow;
}

p{
    text-align: left;
    color: white;
    font-size: 200%
}

form {
    text-align: left;
    margin-left: 50px;
}

fieldset {
    border: none;
}

input{
    width: 150%;
}

input[type="submit"] {
    width: 60%;
}
  