.title {
    color: white;
    font-size: 400%;
    margin-left: 200px;
}

label {
    color: white;
    font-size: 150%;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background-color: black;
}

img {
    height: 600px;
    text-align: left;
}

.registerpage {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}


p{
    text-align: left;
    color: white;
    font-size: 100%
}

form {
    text-align: left;
    margin: auto;
    margin-left: -350px;
}

input{
    width: 70%;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 50%;
    margin: auto;
    margin-left: 100px;
}
  